*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}


body{
    background-color: #000000;
}

.presentation{
    margin-top: 20px;
    text-align: center;
}

.title{
    
    font-size: 40px;
}

.subText{
    color: #BBBBBB;
    font-size: 2em;
}

.scoreContainer{
    
    margin-top: 1rem;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.animationContainer{
    display: flex;
    justify-content: space-between;
}



.humanAnimation.box{
    
    animation-name: fadeOutFadeInHuman;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

.botAnimation.box{
    animation-name: fadeOutFadeInBot;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


.display{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    font-size: clamp(2px, 1vw, 3px);
    line-height: 1em;

}

@keyframes fadeOutFadeInHuman{
    
    from{
        transform: translateX(100px);
        opacity: 1;

    }
    to{
        
        transform: translateX(-100px);
        opacity: 0;
    
    }
   
}

@keyframes fadeOutFadeInBot{
    from{
        transform: translateX(-100px);
        opacity: 1;
        

    }
    to{
        
        transform: translateX(100px);
        opacity: 0;
    
    }

}

.info{
    text-align: center;
    font-size: 2rem;
}

.scoreContainer p{
    color: #BBBBBB;
    font-size: 1.5rem;
    text-align: center;
}

.specialContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
    
}
.consoleContainer{
    display: flex;
    justify-content: center;
    
   
    text-align: center;
    border:2px white solid;
    min-width: 40vw;
    min-height: 300px;
    border-radius: 8px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.console{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px white dashed;
    min-width: 35vw;
    min-height: 300px;
    border-radius: 8px;
}

.items{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    font-size: clamp(6px, 1.2vw, 8px);
    line-height: 1em;
}

.terminalButton{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    background: none;
    cursor: pointer;
    text-transform: uppercase;

    font-size: 1.25em;
}

.bracket{
    color: #ffffff;
    transition: all 0.1s ease-out;
}

.bracket::before {
    content: "[ ";
}

.bracket::after{
    content: " ]";
}

.bracket:hover {
    color: #000000; 
    background-color: #ffffff; 
}